<div class="container-big-card">
    <div class="big-card-image">
        <img src="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA"
            alt="">
    </div>

    <div class="big-card-title">
        <h1><a href="#">A nova versão e recursos do Angular v17.</a></h1>
    </div>

    <div class="big-card-description">
        <a href="#">
            <p>
                A equipe do Angular continua a dedicar esforços incansáveis para introduzir notáveis inovações a cada
                nova versão lançada. Este compromisso evidenciou-se nas versões 14, 15 e 16, e a narrativa prossegue com
                a versão 17. O Angular tem experimentado avanços significativos em um intervalo de tempo
                surpreendentemente curto.</p>
        </a>
    </div>
</div>