<div class="container-small-card">

    <div class="container-small-card-content">
        <div class="small-card-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOSIZ6hZseAPKb42yOVWSqt00bWSi8yusbMQ&usqp=CAU"
                alt="">
        </div>

        <div class="small-card-title">
            <h1><a href="#">Lorem ipsum dolor, sit amet consectetur.</a></h1>
        </div>
    </div>

    <div class="container-small-card-separator">
        <hr>
    </div>
</div>