.container-small-card {
    width: 700px;
    margin-bottom: 0.9rem;
}

.container-small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card-image img {
    width: 200px;
    min-width: 200px;
    margin-right: 1.5rem;
    border-radius: 2px;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-small-card-separator {
    margin-top: 0.6rem;
}