.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}

.container-content a{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.content-cover img {
    border: 1px solid green;
    border-radius: 2px;
    width: 500px;
    min-width: 500px;
    height: 400px;
}
.content-title{
    margin-top: 0.5rem;
}
.content-description{
    margin-top: 2rem;
}
.content-description p{
    color: #bebebe;
}