
<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card
        imageCover="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA"
        cardTitle="Nova versão e recursos do Angular v17"
        cardDescription="A equipe do Angular continua a dedicar esforços incansáveis para introduzir notáveis inovações a cada nova versão lançada. Este compromisso evidenciou-se nas versões 14, 15, 16, e a narrativa prossegue com a versão 17. O Angular tem experimentado avanços significativos em um intervalo de tempo surpreendemente curto."
        ></app-big-card>

        <app-big-card
        imageCover="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA"
        cardTitle="Nova versão e recursos do Angular v17"
        cardDescription="A equipe do Angular continua a dedicar esforços incansáveis para introduzir notáveis inovações a cada nova versão lançada. Este compromisso evidenciou-se nas versões 14, 15, 16, e a narrativa prossegue com a versão 17. O Angular tem experimentado avanços significativos em um intervalo de tempo surpreendemente curto."
        ></app-big-card>
    </div>

    <div class="articles-others">
        <app-small-card imageCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTuvoqzbdPrIxU2RJB-ynUCmW5pa_X2izbVpGit40dy04pp_41QXzzo3nlaO4FVOin_SQ&usqp=CAU" cardTitle="Descubra quais são as diferenças do AngularJS e Angular 2+"></app-small-card>
        <app-small-card imageCover="https://img-b.udemycdn.com/course/240x135/4412496_bdce.jpg" cardTitle="Porquê precisamos saber Typescript para começar no Framework Angular?"></app-small-card>
        <app-small-card imageCover="https://www.simplilearn.com/ice9/free_resources_article_thumb/recact_angular_vue.jpg" cardTitle="Qual é o melhor framework para criar sites web Angular, React ou VueJS?"></app-small-card>
    </div>
</div>